<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <context-param>
        <param-name>questResource</param-name>
        <param-value>quest.json</param-value>
    </context-param>
    <context-param>
        <param-name>questStartId</param-name>
        <param-value>1</param-value>
    </context-param>

    <listener>
        <listener-class>com.javarush.apalinskiy.web.listener.AppBootstrap</listener-class>
    </listener>

    <servlet>
        <servlet-name>GoSavesServlet</servlet-name>
        <servlet-class>com.javarush.apalinskiy.web.servlet.GoSavesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoSavesServlet</servlet-name>
        <url-pattern>/saves</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GoSavesReadServlet</servlet-name>
        <servlet-class>com.javarush.apalinskiy.web.servlet.GoLoadsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoSavesReadServlet</servlet-name>
        <url-pattern>/loads</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>quest</servlet-name>
        <servlet-class>com.javarush.apalinskiy.web.servlet.QuestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>quest</servlet-name>
        <url-pattern>/quest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>com.javarush.apalinskiy.web.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.javarush.apalinskiy.web.servlet.AuthServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.javarush.apalinskiy.web.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.javarush.apalinskiy.web.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>